@font-face {
    font-family: 'bluefish';
    src: url('../ressources/polices/bluefish-stencil.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'king';
    src: url('../ressources/polices/KIN668.TTF');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'black';
    src: url('../ressources/polices/BlackOpsOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

html{
    height: 100%;
    overflow: hidden;
}

body{
    margin: 0;
}